#Apple
{
    color: red;
    background-color: aqua;
    display: inline-flex;
}

#phrase
{
    font-style: italic;
    background-color: black;
    color: aliceblue;
    display: inline-flex;
    font-size: 50px;
}#Apples
{
    font-size: 100px;
    
}